#
#	Ignore these files due to size or version
#
SDL*.zip
*pcap*.exe
WpcapSrc*.zip
WpdPack*.zip
*libpng*.zip
DXSDK_Jun10.exe
freetype*.tar.gz
TestDisks.tar.gz
BuildAll.cmd
#
#	Ignore files built by Visual Studio
#
*.idb
*.obj
*.user
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sdf
*.VC.opendb
*.VC.db
.vs/
*.opensdf
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
#
#	PCRE Intermedia Files
#
testout8/
testoutstudy8/
pcre_chartables.c
testsaved*
